* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #26b8b8;
}

.navbar {
    background-color: #3dc9c9;
}



#confirmedCases{
    font-size: 3rem;
    /* font-weight: bold; */
}

#recoveries {
    font-size: 3rem;
    /* font-weight: bold; */
}

#deaths{
    font-size: 3rem;
    /* font-weight: bold; */
}

.casesReport{
    padding: 0;
}

.card-header {
    background-color: white;
}

.jumbotron{
    background-color: white;
    margin-bottom: 0;
    margin-top: 1rem;
    
}

#boxConfirmed{
    background-color: #fab800;
    color: white;
    font-weight: bold;
    padding: 0 2pt 0 2pt;
    font-size: small;
}

#boxRecovered{
    background-color: #16c0b5d8;
    color: white;
    font-weight: bold;
    padding: 0 2pt 0 2pt;
    font-size: small;
}

#boxDeath{
    background-color: #d80b0ba1;
    color: white;
    font-weight: bold;
    padding: 0 2pt 0 2pt;
    font-size: small;
}

.jumbotron p{
    margin-bottom: 0;
}

#activeCasesGraph {
    display: none;
}

.card-body {
    position: relative;
}

.doughnutText {
    font-size: large;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 50%;
    left: 0;
    margin-top: 30px;
    line-height: 19px;
    text-align: center;
    /* z-index: 999999999999999; */

}

td {
    text-align: justify;
} 

footer p {
    margin: 0;
}
footer{
    position: static;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
}

            /*bigger screens*/
@media (min-width: 768px) {

    .casesReport {
        display: flex;
        justify-content: center;
        text-align: center;


    }

    .jumbotron{
        margin-top: 2rem;
    }
}

        /*Smaller screens*/
@media (min-width: 320px) and (max-width: 420px) {
    .jumbotron {
        padding-bottom: 1rem;
        padding-top: 0;
    }

    .myTable {
        margin-top: 2rem;
    }

    /* Cases Report Jumbotron*/

    .casesReport{
        display: flex;
        margin-top: 5rem;
    }

    #confirmedCases{
        font-size: 2rem;
    }

    #activeCases{
        font-size: 2rem;
        font-weight: bold;
        color: #d80b0ba1;
    }

    #recoveries {
        font-size: 2rem;
    }
    
    #deaths{
        font-size: 2rem;
    }

    #activeCasesInfo{
        margin-bottom: 2rem;
    }
    #activeCasesGraph{
        margin-bottom: 2rem;
    }


}